@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Sulphur+Point:wght@300;400;700&display=swap');

@theme {
	--font-display: 'Bruno Ace', sans-serif;
	--font-nav: 'Sulphur Point', sans-serif;
}

@font-face {
	font-family: 'Game Paused';
	src: url('/font/gamepaused-demo.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@theme {
	--font-paused: 'Game Paused', sans-serif;
}